html {
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #2e393b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1 {
  font-family: 'Itim', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-family: 'Itim', sans-serif;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 700;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0px;
  font-size: 13px;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
a:focus {
  outline: none;
}
ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
/*========================================
COMMON
========================================*/
.btn {
  line-height: 1em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 0 0 0 #444 inset, 0.3em 0.2em 0 0 #bbb;
  border: 0.2em solid #444;
  padding: 0.8em;
  text-align: center;
  transition: 0.25s box-shadow, 0.25s -webkit-transform;
}
.btn p {
  font-weight: 700;
}
.btn:hover {
  box-shadow: 0em 0em 0 0 #bbb;
  -webkit-transform: translate(0.3em, 0.2em);
  color: inherit;
}
.btn.disabled {
  opacity: 0.8;
}
.btn.disabled:hover {
  box-shadow: 0 0 0 0 #444 inset, 0.3em 0.2em 0 0 #bbb;
  -webkit-transform: translate(0, 0);
  color: #444;
}
.order-btn {
  background-color: rgb(246, 156, 56);
  border: 0.2em solid rgb(246, 156, 56);
  color: #fff;
}
.order-btn:hover {
  color: #fff;
}
.contact-btn {
  background-color: rgb(0, 156, 210);
  border: 0.2em solid rgb(0, 156, 210);
  color: #fff;
}
.contact-btn:hover {
  color: #fff;
}
.fixed-top {
  animation: smoothScroll 0.7s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.toast .message-img {
  width: 70px;
  height: 70px;
  clip-path: circle(40%);
  float: left;
}
.toast {
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 9999;
  padding: 10px;
  display: none;
  background: #fff;
  border: solid 1px #000;
  border-radius: 20px;
  opacity: 0.9;
  color: #3b3d42;
  width: 300px;
  font-size: 12px;
}

/*========================================
HEADER
========================================*/
nav {
  background-color: transparent;
}
nav .logo {
  width: 150px;
}
.top-banner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
/* ==================================
PRICE BANNER
=====================================*/
.price-section .content {
  background: linear-gradient(
    -45deg,
    #dbdbdb 0%,
    #dbdbdb 35%,
    #eaeaea 75%,
    #eaeaea 100%
  );
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.price-section .price {
  font-size: 20px;
  text-transform: uppercase;
}
.price-section .price span {
  color: rgb(0, 156, 210);
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  box-shadow: inset 0px -7px rgb(0, 156, 210);
  margin: 0 10px 0 0;
}
.price-section .price del {
  font-size: 14px;
  color: grey;
}
.price-section .time-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.price-section img {
  width: 50%;
}
.days {
  background: #1290a4;
  color: #fff;
  font-weight: 700;
  max-width: 60%;
  border-radius: 10px;
  font-size: 1;
  margin: auto;
  font-size: 16px;
}

/* ==================================
VIDEO SECTION
=====================================*/
.video-section .box {
  padding: 5px;
  text-align: center;
}
.video-section .box .box_image {
  margin: 20px auto;
}
.video-section .box .box_image img {
  width: 70px;
  height: 70px;
}
/* youtube embed */
.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
/* ==================================
FUNCTION SECTION
=====================================*/
.bg-gradient {
  background: linear-gradient(
    -45deg,
    #e0eafc 0%,
    #e0eafc 35%,
    #cfdef3 75%,
    #cfdef3 100%
  );
}
.function-section {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.function-section .box-shadow {
  margin: auto;
}
.function-section .box-shadow img {
  height: 250px;
}
.function-section .content-left .icon {
  margin-left: 10px;
}
.function-section .content-left .text {
  text-align: right;
}
.function-section .content-right .icon {
  margin-right: 10px;
}
.function-section .content-right .text {
  text-align: left;
}
.function-section .box-item {
  display: flex;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.3);
  padding: 15px;
  line-height: 22px;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #000;
}
.function-section .content-left .box-item {
  justify-content: flex-end;
}
.function-section .box-item .text {
  width: 85%;
}
.function-section .box-item .icon {
  width: 15%;
  text-align: center;
}
.function-section .box-item .icon img {
  width: 40px;
  margin: 5px 0;
}

/* ==================================
REALITY USING
=====================================*/
.reality-using {
  position: relative;
  background-color: #212223;
  color: #fff;
}
.reality-using h2 {
  color: #000;
  background-color: #eaf5fb;
  padding: 10px 0;
}
.reality-using h4 {
  color: #f5bf1e;
  font-size: 27px;
  text-decoration: underline;
}
.reality-using dl dt {
  font-size: 20px;
  margin-bottom: 5px;
}

/* ==========================================================================
km
========================================================================== */
.km {
  text-align: center;
  padding: 15px 10px 20px 10px;
}
.km .upto {
  font-size: 25px;
  text-decoration: underline;
  font-weight: 300;
}
.km .gift {
  font-size: 40px;
  font-weight: 700;
}
.km .kh {
  font-size: 30px;
}
.km .button {
  max-width: 50%;
  margin: 0 auto;
  color: #000;
}

/* ==================================
COMPARE
=====================================*/
.compare-section {
  z-index: 99;
  position: relative;
}
.compare-section:after {
  z-index: 99;
  content: '';
  position: absolute;
  bottom: -50px;
  margin: auto;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: linear-gradient(
    -45deg,
    #e0eafc 0%,
    #e0eafc 35%,
    #cfdef3 75%,
    #cfdef3 100%
  );
  border-top: solid 50px #e0eafc;
  border-left: solid 80px transparent;
  border-right: solid 80px transparent;
}
.compare-section .bg-pale {
  background-color: #fff;
  border: 2px dashed #000;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.compare-section .bg-pale h2 {
  background-color: #000;
  color: #fff;
  position: relative;
  top: -17px;
  margin: auto;
  padding: 5px 10px;
  font-size: 20px;
  width: 50%;
  border-radius: 10px;
}
.compare-section .bg-pale img {
  padding: 20px;
}

/* ==================================
Product image
=====================================*/
.product-image-section {
  position: relative;
}

/* ==================================
Dased section (camket + baohanh)
=====================================*/
.dashed-section {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 30px 20px;
  border: 1px solid #34363a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: left;
}
.dashed-section h2 {
  text-align: left;
  border-left: 15px solid rgb(0, 156, 210);
  padding-left: 5px;
}
.camket-section p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
.camket-section p::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0a4';
  color: rgb(0, 156, 210);
  margin-right: 10px;
}
.camket-section span {
  text-transform: uppercase;
  font-weight: 700;
}
.warranty-section .desc {
  font-size: 18px;
  text-align: left;
}
.warranty-section img {
  margin-bottom: 10px;
  height: 80px;
}

/* ==================================
CUSTOMER SECTION
=====================================*/
.customer-section img {
  border: 1px solid rgb(0, 156, 210);
  border-radius: 10px;
}
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

/* ==================================
ORDER SECTION
=====================================*/
.square-btn {
  border-radius: 0;
  background-color: #000;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.square-btn-back-red {
  background-color: red;
  color: #fff !important;
}

/* ==================================
social
=====================================*/
.social-section {
  max-width: 767px;
  margin: 0 auto;
}

/* ==================================
MAY KNOW SECTION
=====================================*/
.may-know-section h2 {
  font-size: 25px;
  text-decoration: underline;
  color: rgb(0, 156, 210);
  font-weight: 600;
  text-align: center;
}
.may-know-section img {
  height: 100%;
  border: 1px solid rgb(0, 156, 210);
}

/* ==================================
FOOTER
=====================================*/
footer {
  text-align: center;
}
footer img {
  width: 150px;
}
footer hr {
  margin: 20px 0;
  border-top: 2px solid #979797;
}

/* ==================================
CALL US BUTTON
=====================================*/
#callme {
  position: fixed;
  right: 25px;
  bottom: 90px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}
#callme #callmeMain {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: royalblue;
  width: 50px;
  height: 50px;
}
#callme #callmeMain:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* ====================================================================
RESPONSIVE
=======================================================================*/
/* ====================================
only small desktops
==================================== */
@media (min-width: 1025px) {
  .product-image-section img {
    width: 30%;
  }
}
@media (width: 1024px) {
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 17px;
  }
  .compare-section::after {
    bottom: -40px;
  }
  .product-image-section img {
    width: 40%;
  }
}

/* ====================================
tablets
==================================== */
@media (min-width: 768px) and (max-width: 1020px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 29px;
  }
  .video-section .box h3 {
    min-height: 44px;
  }
  .camket-section .camket-div {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .product-image-section img {
    width: 60%;
  }
  .days {
    max-width: 40%;
  }
}
/* ====================================
mobile or only mobile
==================================== */
@media (max-width: 767px) {
  .video-section .box {
    display: flex;
    text-align: left;
  }
  .video-section .box .box_image {
    margin-right: 15px;
  }
  .video-section .box .content {
    padding: 8px;
  }
  .reality-using h4 {
    font-size: 19px;
  }
  .reality-using dl dt {
    font-size: 15px;
  }
  .compare-section .bg-pale h2 {
    width: 70%;
    font-size: 14px;
    top: -15px;
  }
  .compare-section:after {
    bottom: -30px;
  }
  .toast {
    left: 0;
    top: 80px;
    bottom: unset;
  }
  footer {
    min-height: 250px;
  }
}
/* ====================================
super small mobile
==================================== */
@media (max-width: 426px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .navbar {
    padding: 10px 0;
  }
  nav .logo {
    width: 125px;
  }
}
@media (max-width: 375px) {
  nav .logo,
  nav .container div {
    margin: 0 auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 13px;
  }
  .camket-section p {
    font-size: 16px;
  }
}
