html {
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #2e393b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 33px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-weight: 300;
  margin: 0px;
  font-size: 14px;
}
@media (width: 1024px) {
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 29px;
  }
}
@media (max-width: 426px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 13px;
  }
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
a:focus {
  outline: none;
}
ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
/*========================================
COMMON
========================================*/
.btn {
  line-height: 1em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  background-color: #fff;
  border: 0.2em solid #444;
  padding: 0.7em 0.9em;
  text-align: center;
  transition: 0.25s box-shadow, 0.25s -webkit-transform;
  border-radius: 10px;
}
.btn p {
  font-weight: 700;
}
.btn.disabled {
  opacity: 0.8;
}
.order-btn {
  background-color: rgb(246, 156, 56);
  border: 0.2em solid rgb(246, 156, 56);
  color: #fff;
}
.order-btn:hover {
  color: #fff;
}
.contact-btn {
  background-color: rgb(0, 156, 210);
  border: 0.2em solid rgb(0, 156, 210);
  color: #fff;
}
.contact-btn:hover {
  color: #fff;
}
.fixed-top {
  animation: smoothScroll 0.7s forwards;
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  background-color: #fff;
  max-width: 768px;
  margin: 0 auto;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ==================================
TOAST
=====================================*/
.toast {
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 9999;
  padding: 10px;
  display: none;
  background: #fff;
  border: solid 1px #000;
  border-radius: 20px;
  opacity: 0.9;
  color: #3b3d42;
  width: 300px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .toast {
    left: 0;
    top: 80px;
    bottom: unset;
  }
}
.toast .message-img {
  width: 70px;
  height: 70px;
  clip-path: circle(40%);
  float: left;
}
/*========================================
HEADER
========================================*/
.top-banner img {
  border-radius: 5px;
}
@media (max-width: 426px) {
  .navbar {
    padding: 10px 0;
  }
  nav .logo {
    width: 125px;
  }
}
@media (max-width: 375px) {
  nav .logo,
  nav .container div {
    margin: 0 auto;
  }
}
/* ==================================
PRICE BANNER
=====================================*/
.banner {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  margin: 20px auto;
  padding: 20px;
  /* background: linear-gradient(
    -45deg,
    #e0eafc 0%,
    #e0eafc 35%,
    #cfdef3 75%,
    #cfdef3 100%
  ); */
  background-image: url('https://wi.wallpapertip.com/wsimgs/0-3788_simple-light-blue-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}
.banner .price {
  font-size: 1em;
  width: 100%;
  text-align: center;
}
.banner .price span {
  font-size: 2.5em;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0 10px 0 0;
}
.banner .price del {
  font-size: 0.8em;
}
.banner .sale-time {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
.banner .title {
  margin-top: 10px;
}
.banner .days {
  border-radius: 10px;
  font-weight: 700;
}

/* ==================================
VIDEO SECTION
=====================================*/
.video-section .box {
  padding: 5px;
  text-align: center;
}
.video-section .box .box_image {
  margin: 20px auto;
}
.video-section .box .box_image img {
  width: 70px;
  height: 70px;
}
/* youtube embed */
.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .video-section .box h3 {
    min-height: 44px;
  }
}
@media (max-width: 767px) {
  .video-section .box {
    display: flex;
    text-align: left;
  }
  .video-section .box .box_image {
    margin-right: 15px;
  }
  .video-section .box .content {
    padding: 8px;
  }
}
/* ==================================
FUNCTION SECTION
=====================================*/
/* .bg-gradient {
  background: linear-gradient(
    -45deg,
    #e0eafc 0%,
    #e0eafc 35%,
    #cfdef3 75%,
    #cfdef3 100%
  );
} */
.function-section {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.function-section .box-item {
  margin-bottom: 20px;
}
.function-section .box-item img {
  width: 40px;
  margin: 5px 0;
  vertical-align: center;
}
@media (max-width: 426px) {
  .function-section .function-product-img {
    width: 250px;
  }
}

/* ==================================
REALITY USING
=====================================*/
.reality-using {
  position: relative;
  background-color: #212223;
  color: #fff;
}
.reality-using h2 {
  color: #000;
  background-color: #eaf5fb;
  padding: 10px 0;
  border-radius: 8px;
}
.reality-using h4 {
  color: #f5bf1e;
  font-size: 27px;
  text-decoration: underline;
}
.reality-using dl dt {
  font-size: 20px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .reality-using h4 {
    font-size: 19px;
  }
  .reality-using dl dt {
    font-size: 15px;
  }
}
/* ==========================================================================
km
========================================================================== */
.km {
  text-align: center;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  margin: 20px auto;
  padding: 20px;
  /* background: linear-gradient(
    -45deg,
    #e0eafc 0%,
    #e0eafc 35%,
    #cfdef3 75%,
    #cfdef3 100%
  ); */
  background-image: url('https://wi.wallpapertip.com/wsimgs/0-3788_simple-light-blue-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}
.km .upto {
  font-size: 25px;
  text-decoration: underline;
  font-weight: 300;
}
.km .gift {
  font-size: 40px;
  font-weight: 700;
}
.km .kh {
  font-size: 30px;
}
.km .button {
  max-width: 50%;
  margin: 0 auto;
  color: #000;
}

/* ==================================
COMPARE
=====================================*/
.compare-section {
  z-index: 99;
  position: relative;
}
.compare-section img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* ==================================
Dased section (camket + baohanh)
=====================================*/
.dashed-section {
  position: relative;
  background-color: #212223;
  color: #fff;
}
.dashed-section h2 {
  color: #000;
  background-color: #eaf5fb;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
}
.camket-section p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
.camket-section p::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0a4';
  color: rgb(0, 156, 210);
  margin-right: 10px;
}
.camket-section span {
  font-weight: 700;
}
.warranty-section {
  text-align: center;
}
.warranty-section img {
  margin-bottom: 6px;
  height: 80px;
  border-radius: 10px;
}
.warranty-section h4 {
  font-size: 1.3em;
  color: #f5bf1e;
  text-decoration: underline;
}
.warranty-section p {
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .camket-section .camket-div {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .camket-section p {
    font-size: 16px;
  }
}

/* ==================================
CUSTOMER SECTION
=====================================*/
.customer-section .slider-center img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
  padding: 5px 0 !important;
}
.customer-section .testimonial .testimonial-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
.customer-section .testimonial .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.customer-section .testimonial .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.customer-section .testimonial .profile {
  display: flex;
  align-items: center;
}
.customer-section .testimonial .name-user {
  display: flex;
  flex-direction: column;
}
.customer-section .testimonial .name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.customer-section .testimonial .name-user span {
  color: #979797;
  font-size: 0.8rem;
}
.customer-section .testimonial .reviews {
  color: #f9d71c;
}
.customer-section .testimonial .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.customer-section .testimonial .client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}
.customer-section .testimonial .client-comment .media {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.customer-section .testimonial .client-comment .media .media-content {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
.customer-section .testimonial .client-comment .media .media-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.customer-section .testimonial .client-comment .media .media-content video {
  border: 1px solid grey;
}
/* ==================================
ORDER SECTION
=====================================*/
.square-btn {
  border-radius: 0;
  background-color: #000;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.square-btn-back-red {
  background-color: red;
  color: #fff !important;
}

/* ==================================
social
=====================================*/
.social-section {
  max-width: 767px;
  margin: 0 auto;
}
.social-section h2 {
  font-size: 25px;
  text-decoration: underline;
  color: rgb(0, 156, 210);
  font-weight: 600;
  text-align: center;
}

/* ==================================
MAY KNOW SECTION
=====================================*/
.may-know-section h2 {
  font-size: 25px;
  text-decoration: underline;
  color: rgb(0, 156, 210);
  font-weight: 600;
  text-align: center;
}
.may-know-section img {
  height: 100%;
  border: 1px solid rgb(0, 156, 210);
  border-radius: 10px;
}

/* ==================================
FOOTER
=====================================*/
footer {
  text-align: center;
}
footer img {
  width: 150px;
}
footer hr {
  margin: 20px 0;
  border-top: 2px solid #979797;
}
@media (max-width: 767px) {
  footer {
    min-height: 250px;
  }
}
/* ==================================
CALL US BUTTON
=====================================*/
#callme {
  position: fixed;
  right: 25px;
  bottom: 90px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}
#callme #callmeMain {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: royalblue;
  width: 50px;
  height: 50px;
}
#callme #callmeMain:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
  background-repeat: no-repeat;
  background-position: center center;
}
