<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Required meta tags -->

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="LamPT" />
    <meta
      name="description"
      content="Máy đo đường huyết Yamada - trợ lý ảo thông minh nói tiếng Việt Assistant+, đo chỉ số hồng cầu HCT, que thử 8 điện cực men GDH-FAD siêu chính xác."
    />
    <meta
      name="keywords"
      content="Yamada, đo đường huyết yamada, huyết áp, máy đo đường huyết"
    />

    <meta
      property="og:url"
      content="http://yamadacare.vn/doduonghuyet/shopping.html"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Máy đo đường huyết Yamada" />
    <meta property="og:image" content="image/may_do_duong_huyet_yamada.jpg" />
    <meta
      property="og:description"
      content="Máy đo đường huyết Yamada - trợ lý ảo thông minh nói tiếng Việt Assistant+, đo chỉ số hồng cầu HCT, que thử 8 điện cực men GDH-FAD siêu chính xác."
    />

    <title>Máy đo đường huyết Yamada | Trang mua hàng</title>

    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />

    <!-- Site library -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css"
      rel="stylesheet"
    />

    <!-- Page library -->
    <link rel="stylesheet" type="text/css" href="css/shopping.css" />
    <!-- Global site tag (gtag.js) - Google Ads: 806236185 -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-806236185"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-806236185");
    </script>

    <!-- email settings -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("user_10EW8QCywsxKiHtS70vf8");
      })();
    </script>
  </head>

  <body>
    <div id="cart">
      <div class="container text-center pt-3 pb-5">
        <img
          src="/assets/img/logo.png"
          alt="logo"
          class="img-fluid"
          width="180px"
        />

        <h1 class="text-uppercase mt-3">
          Đặt mua ngay Máy đo đường huyết Yamada
        </h1>

        <div class="row">
          <div v-for="product in products" class="col-lg-6 col-12">
            <div class="mt-3 product-box">
              <div class="row">
                <div class="col-6">
                  <img
                    class="img-fluid"
                    :src="product.image"
                    :alt="product.slug"
                    width="200px"
                  />
                </div>
                <div class="col-6 d-flex flex-column justify-content-center">
                  <h2>{{product.name}}</h2>

                  <p>{{convertToViCurrency(product.price)}}</p>
                  <del v-if="product.type == 'main'">559.000 vnd</del>
                  <p v-else class="sale">
                    (Mua kèm máy huyết áp giá chỉ còn 99.000 vnd)
                  </p>
                  <div class="mt-2">
                    <input
                      type="checkbox"
                      :id="product.slug"
                      class="pega"
                      v-model="product.checked"
                    />
                    <label
                      :for="product.slug"
                      :name="product.slug"
                      class="pega"
                    >
                      MUA
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-6 col-xs-12 order-md-1 order-2">
            <h3 class="mt-5">THÔNG TIN MUA HÀNG</h3>
            <div class="form text-center pb-3">
              <form>
                <div class="form-group">
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Họ và tên (bắt buộc)"
                    v-model="name"
                  />
                </div>
                <div class="form-group">
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    v-model="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    name="phone"
                    type="text"
                    id="phone"
                    class="form-control"
                    placeholder="Nhập số điện thoại (bắt buộc)"
                    v-model="phone"
                  />
                </div>
                <div class="form-group">
                  <p class="font-italic text-left">
                    * Để tránh nhầm lẫn, xin vui lòng kiểm tra kỹ và nhập lại số
                    điện thoại!
                  </p>
                  <input
                    name="confirmPhone"
                    type="text"
                    class="form-control"
                    placeholder="Xác nhận số điện thoại (bắt buộc)"
                    v-model="confirmPhone"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    name="address"
                    class="form-control"
                    rows="5"
                    placeholder="Nhập địa chỉ của bạn (bắt buộc)"
                    v-model="address"
                  ></textarea>
                </div>
                <div class="text-center mt-3">
                  <button
                    type="submit"
                    class="btn order-btn"
                    @click="checkForm"
                  >
                    Đặt mua ngay
                  </button>
                </div>
              </form>

              <div class="text-center mt-3">
                <button
                  type="button"
                  onclick="window.history.back()"
                  class="btn btn-info"
                >
                  Quay lại
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 order-md-2 order-1">
            <h3 class="mt-5">GIỎ HÀNG</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in products" v-show="product.checked">
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <button type="button" @click="subQuantity(product)">
                        -
                      </button>
                      <span>{{product.quantity}}</span>
                      <button type="button" @click="addQuantity(product)">
                        +
                      </button>
                    </div>
                  </td>
                  <td>{{convertToViCurrency(finalPriceOf(product))}}</td>
                </tr>

                <tr>
                  <td colspan="3">Tổng giá</td>
                  <td>{{convertToViCurrency(totalPrice)}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-left font-italic">
              <p>
                * Miễn phí ship toàn quốc, kiểm tra hàng xong mới thanh toán
              </p>
              <p>* Chính hãng 100%, có đầy đủ hoá đơn VAT công ty</p>
              <p>* Trả hàng miễn phí 7 ngày không cần lý do</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="confirmModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modelTitleId"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Xác nhận thanh toán</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"></div>
            <div class="caution"></div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Huỷ
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="cont-btn"
                @click="sendForm"
              >
                Tiếp tục
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Site library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
      new Vue({
        el: "#cart",
        data: {
          name: "",
          email: "",
          address: "",
          phone: "",
          confirmPhone: "",
          products: [
            {
              id: 1,
              name: "Máy đo đường huyết Yamada (tặng kèm 10 que thử)",
              quantity: 1,
              checked: true,
              price: 459000,
              type: "main",
              image: "image/may_do_duong_huyet_yamada.jpg",
              slug: "duonghuyet",
            },
            {
              id: 2,
              name: "Combo hộp 25 que + 25 kim",
              quantity: 1,
              checked: false,
              price: 119000,
              type: "combo",
              image: "image/que_thu.jpg",
              slug: "quethu",
            },
          ],
        },
        methods: {
          addQuantity(product) {
            product.quantity += 1;
          },
          subQuantity(product) {
            product.quantity -= product.quantity > 1 ? 1 : 0;
          },
          finalPriceOf(product) {
            let finalPrice = product.price;

            if (product.type == "combo") {
              let mainProduct = this.products.find((x) => x.type === "main");
              finalPrice = mainProduct.checked
                ? finalPrice - 20000
                : finalPrice;
            }

            return product.checked ? product.quantity * finalPrice : 0;
          },
          convertToViCurrency(price) {
            return price.toLocaleString("it-IT", {
              style: "currency",
              currency: "vnd",
            });
          },
          checkForm(e) {
            e.preventDefault();
            if ($("form").valid()) {
              const {
                name,
                phone,
                address,
                email,
                products,
                totalPrice,
                convertToViCurrency,
                finalPriceOf,
              } = this;

              const cartInfoHTML = (products) => {
                let str = "";
                products.forEach((product) => {
                  str += product.checked
                    ? `
                      <p>${product.name}</p>
                      <p>SL: ${product.quantity}</p>
                      <p>
                        Giá: ${convertToViCurrency(finalPriceOf(product))}
                      </p><hr />
                      `
                    : "";
                });
                return str;
              };

              $("#confirmModal .modal-body")
                .html("")
                .append(
                  `
                    <h4>Thông tin cá nhân:</h4>
                    <p>Họ tên: <span>${name}</span></p>
                    <p>SĐT: <span>${phone}</span></p>
                    <p>Địa chỉ: <span>${address}</span></p>
                    <p>Email: <span>${email}</span></p>
                    <h4 class="mt-2">Đơn hàng của bạn: </h4>
                    ${cartInfoHTML(products)}
                    <p>Tổng tiền: ${convertToViCurrency(totalPrice)}</p>
                    <i style="font-size: 11px">*Xin vui lòng kiểm tra lại kĩ thông tin 1 lần nữa</i>
                    `
                );
              $("#confirmModal").modal({
                backdrop: "static",
                keyboard: false,
              });
            }
          },
          sendForm() {
            const { name, phone, address, email, products, totalPrice } = this;

            const cartInfoStr = function (products) {
              let str = "";
              products.forEach((product) => {
                str += product.checked
                  ? `${product.name} (x${product.quantity}) - ${
                      product.quantity * product.price
                    }
                    `
                  : "";
              });
              return str;
            };

            $("#cont-btn").attr("disabled", true);
            $(".caution").append("Xin chờ trong giây lát...");

            let data = {
              name,
              phone,
              address,
              email,
              products: cartInfoStr(products),
              total: totalPrice,
            };
            //send email
            emailjs
              .send("service_ryhkd2l", "template_dgedooh", {
                subject: `Khách hàng ${data.name} mua đường huyết`,
                reply_to:
                  "sonpt91.bkhn@gmail.com, store.anphu@gmail.com, vuvantrung21@gmail.com",
                body: `1. Tên khách hàng: ${data.name}, 2.Email: ${data.email}, 3. SĐT: ${data.phone}, 4. Địa chỉ: ${data.address}, 5. Đơn hàng: ${data.products}, 6. Tổng tiền: ${data.total}`,
              })
              .then((message) => console.log(message));
            // fill in gg excel
            var dataUrl =
              "https://script.google.com/macros/s/AKfycbxccF9tfPvWJScddI8BOquUK47nuX4tQOHkBqZOJcim8ZM2PqIkwKzDmLgZUBdZch_W/exec";
            $.ajax({
              type: "POST",
              url: dataUrl,
              dataType: "json",
              crossDomain: true,
              data: data,
              success: function (response) {
                window.location = "thanks.html";
              },
            });
          },
        },
        computed: {
          totalPrice: function () {
            return this.products.reduce(
              (total, product) => total + this.finalPriceOf(product),
              0
            );
          },
        },
      });
    </script>

    <!-- Page library -->
    <script src="js/shopping.js"></script>
  </body>
</html>
