<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Required meta tags -->

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="LamPT" />
    <meta
      name="description"
      content="Máy đo đường huyết Yamada - trợ lý ảo thông minh nói tiếng Việt Assistant+, đo chỉ số hồng cầu HCT, que thử 8 điện cực men GDH-FAD siêu chính xác."
    />
    <meta
      name="keywords"
      content="Yamada, đo đường huyết yamada, huyết áp, máy đo đường huyết"
    />

    <meta
      property="og:url"
      content="http://yamadacare.vn/doduonghuyet/shopping.html"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Máy đo đường huyết Yamada" />
    <meta property="og:image" content="image/may_do_duong_huyet_yamada.jpg" />
    <meta
      property="og:description"
      content="Máy đo đường huyết Yamada - trợ lý ảo thông minh nói tiếng Việt Assistant+, đo chỉ số hồng cầu HCT, que thử 8 điện cực men GDH-FAD siêu chính xác."
    />

    <title>Máy đo đường huyết Yamada | Trang mua hàng</title>

    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />

    <!-- Site library -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css"
      rel="stylesheet"
    />

    <!-- Page library -->
    <link rel="stylesheet" type="text/css" href="css/shopping.css" />
    <!-- Global site tag (gtag.js) - Google Ads: 806236185 -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-806236185"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'AW-806236185');
    </script>
  </head>

  <body>
    <div id="cart" class="container text-center pt-3 pb-5">
      <img
        src="image/new_logo_yamada.png"
        alt="logo"
        class="img-fluid"
        width="180px"
      />

      <h1 class="text-uppercase mt-3">
        Đặt mua ngay Máy đo đường huyết Yamada
      </h1>

      <div class="mt-3 product-box">
        <div class="row">
          <div class="col-6">
            <img
              class="img-fluid"
              src="image/may_do_duong_huyet_yamada.jpg"
              alt="may do duong huyet"
              width="200px"
            />
          </div>
          <div class="col-6 d-flex flex-column justify-content-center">
            <h2>{{machine.name}}</h2>

            <p>
              {{machine.price.toLocaleString('it-IT', {style : 'currency',
              currency : 'vnd'})}}
            </p>
            <del>649.000 vnd</del>
            <div class="mt-2">
              <input
                type="checkbox"
                id="duonghuyet"
                class="pega"
                v-model="machine.checked"
              />
              <label for="duonghuyet" name="duonghuyet" class="pega">
                MUA
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3 product-box">
        <div class="row">
          <div class="col-6">
            <img
              class="img-fluid"
              src="image/que_thu.jpg"
              alt="nhiet ke"
              width="200px"
            />
          </div>
          <div class="col-6 d-flex flex-column justify-content-center">
            <h2>{{combo.name}}</h2>

            <p>
              {{combo.displayPrice.toLocaleString('it-IT', {style : 'currency',
              currency : 'vnd'})}}
            </p>
            <p class="sale">(Mua kèm máy huyết áp giá chỉ còn 99.000 vnd)</p>
            <div class="mt-2">
              <input
                type="checkbox"
                id="adapter"
                class="pega"
                v-model="combo.checked"
              />
              <label for="adapter" name="adapter" class="pega"> MUA </label>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mt-5">GIỎ HÀNG</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="machine.checked">
            <td>{{machine.id}}</td>
            <td>{{machine.name}}</td>
            <td>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  @click="setMachineQuantity(machine.quantity - 1)"
                >
                  -
                </button>
                <span>{{machine.quantity}}</span>
                <button
                  type="button"
                  @click="setMachineQuantity(machine.quantity + 1)"
                >
                  +
                </button>
              </div>
            </td>
            <td>
              {{(machine.price * machine.quantity).toLocaleString('it-IT',
              {style : 'currency', currency : 'vnd'})}}
            </td>
          </tr>
          <tr v-if="combo.checked">
            <td>{{combo.id}}</td>
            <td>{{combo.name}}</td>
            <td>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  @click="setComboQuantity(combo.quantity - 1)"
                >
                  -
                </button>
                <span>{{combo.quantity}}</span>
                <button
                  type="button"
                  @click="setComboQuantity(combo.quantity + 1)"
                >
                  +
                </button>
              </div>
            </td>
            <td>
              {{(combo.quantity * comboPrice).toLocaleString('it-IT', {style :
              'currency', currency : 'vnd'})}}
            </td>
          </tr>
          <tr>
            <td colspan="3">Tổng giá</td>
            <td>
              {{totalPrice.toLocaleString('it-IT', {style : 'currency', currency
              : 'vnd'})}}
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="mt-5">THÔNG TIN MUA HÀNG</h3>
      <div class="form text-center pb-3">
        <form id="duonghuyet-form">
          <div class="form-group">
            <input
              name="name"
              id="name-duonghuyet"
              type="text"
              class="form-control"
              placeholder="Họ và tên (bắt buộc)"
              v-model="name"
            />
          </div>
          <div class="form-group">
            <input
              name="email"
              id="email-duonghuyet"
              type="text"
              class="form-control"
              placeholder="Email"
              v-model="email"
            />
          </div>
          <div class="form-group">
            <input
              name="phone"
              type="text"
              id="phone-duonghuyet"
              class="form-control"
              placeholder="Nhập số điện thoại (bắt buộc)"
              v-model="phone"
            />
          </div>
          <div class="form-group">
            <p class="font-italic text-left">
              * Để tránh nhầm lẫn, xin vui lòng kiểm tra kỹ và nhập lại số điện
              thoại!
            </p>
            <input
              name="confirmPhone"
              type="text"
              id="confirmPhone-duonghuyet"
              class="form-control"
              placeholder="Xác nhận số điện thoại (bắt buộc)"
              v-model="confirmPhone"
            />
          </div>
          <div class="form-group">
            <textarea
              name="address"
              id="address-duonghuyet"
              class="form-control"
              rows="5"
              placeholder="Nhập địa chỉ của bạn (bắt buộc)"
              v-model="address"
            ></textarea>
          </div>
          <div class="text-center mt-3">
            <button
              type="submit"
              id="duonghuyet-order-btn"
              class="btn order-btn"
              @click="sendForm"
            >
              Đặt mua ngay
            </button>
          </div>
        </form>

        <div class="text-center mt-3">
          <button
            type="button"
            onclick="window.history.back()"
            class="btn btn-info"
          >
            Quay lại
          </button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="confirmModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xác nhận thanh toán</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="caution"></div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Huỷ
            </button>
            <button type="button" class="btn btn-primary" id="cont-btn">
              Tiếp tục
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Site library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
      new Vue({
        el: '#cart',
        data: {
          name: '',
          email: '',
          address: '',
          phone: '',
          confirmPhone: '',
          machine: {
            id: 1,
            name: 'Máy đo đường huyết Yamada (tặng kèm 10 que thử)',
            quantity: 1,
            checked: true,
            price: 499000,
          },
          combo: {
            id: 2,
            name: 'COMBO HỘP 25 QUE + 25 KIM',
            quantity: 1,
            checked: false,
            displayPrice: 119000,
          },
        },
        methods: {
          setMachineQuantity(value) {
            this.machine.quantity = value > 1 ? value : 1;
          },
          setComboQuantity(value) {
            this.combo.quantity = value > 1 ? value : 1;
          },
          sendForm(e) {
            e.preventDefault();
            if ($('#duonghuyet-form').valid()) {
              const name = this.name;
              const phone = this.phone;
              const address = this.address;
              const email = this.email;
              const totalPrice = this.totalPrice;
              const machine = this.machine;
              const comboPrice = this.comboPrice;
              const combo = this.combo;

              const cartInfo = function (machine, combo, comboPrice) {
                let str = '';
                if (machine.checked)
                  str += `<p>${machine.name}</p>
                  <p>SL: ${machine.quantity}</p>
                  <p>Giá: ${(machine.price * machine.quantity).toLocaleString(
                    'it-IT',
                    { style: 'currency', currency: 'vnd' },
                  )}</p><hr />`;
                if (combo.checked)
                  str += `<p>${combo.name}</p>
                  <p>SL: ${combo.quantity}</p>
                  <p>Giá: ${(comboPrice * combo.quantity).toLocaleString(
                    'it-IT',
                    { style: 'currency', currency: 'vnd' },
                  )}</p><hr />`;
                return str;
              };

              $('#confirmModal .modal-body')
                .html('')
                .append(
                  `
                  <h4>Thông tin cá nhân:</h4>
                  <p>Họ tên: <span>${name}</span></p>
                  <p>SĐT: <span>${phone}</span></p>
                  <p>Địa chỉ: <span>${address}</span></p>
                  <p>Email: <span>${email}</span></p>
                  <h4 class="mt-2">Đơn hàng của bạn: </h4>
                  ${cartInfo(machine, combo, comboPrice)}
                  <p>Tổng tiền: ${totalPrice.toLocaleString('it-IT', {
                    style: 'currency',
                    currency: 'vnd',
                  })}</p>
                  <i style="font-size: 11px">*Xin vui lòng kiểm tra lại kĩ thông tin 1 lần nữa</i>
                  `,
                );
              $('#confirmModal').modal({
                backdrop: 'static',
                keyboard: false,
              });

              $('#cont-btn').on('click', function () {
                $('#cont-btn').attr('disabled', true);
                $('.caution').append('Xin chờ trong giây lát...');

                const machineInfo = machine.checked
                  ? `${machine.name} (x${machine.quantity}) - ${
                      machine.quantity * machine.price
                    }`
                  : '';
                const comboInfo = combo.checked
                  ? `${combo.name} (x${combo.quantity}) - ${
                      combo.quantity * comboPrice
                    }`
                  : '';

                let data = {
                  name,
                  phone,
                  address,
                  email,
                  machineInfo: machineInfo,
                  comboInfo: comboInfo,
                  total: totalPrice,
                };
                //send email
                Email.send({
                  Host: 'smtp.elasticemail.com',
                  Username: 'noreply200474@gmail.com',
                  Password: '281171344F3555517A2432D2031290CF228A',
                  To: 'sonpt91.bkhn@gmail.com, store.anphu@gmail.com, vuvantrung21@gmail.com',
                  From: 'noreply200474@gmail.com',
                  Subject: 'Customer subcriber',
                  Body: `1. Tên khách hàng: ${data.name}, 2.Email: ${data.email}, 3. SĐT: ${data.phone}, 4. Địa chỉ: ${data.address}, 5. Đơn hàng: 5.1 Máy: ${data.machineInfo} 5.2 Combo: ${data.comboInfo}, 6. Tổng tiền: ${data.total}`,
                }).then((message) => console.log(message));
                // Email.send({
                //   Host: 'smtp.elasticemail.com',
                //   Username: 'noreply200474@gmail.com',
                //   Password: '281171344F3555517A2432D2031290CF228A',
                //   To: 'vuvantrung21@gmail.com',
                //   From: 'noreply200474@gmail.com',
                //   Subject: 'Customer subcriber',
                //   Body: `1. Tên khách hàng: ${data.name}, 2.Email: ${data.email}, 3. SĐT: ${data.phone}, 4. Địa chỉ: ${data.address}, 5. Đơn hàng: 5.1 Máy: ${data.machineInfo} 5.2 Combo: ${data.comboInfo}, 6. Tổng tiền: ${data.total}`,
                // }).then((message) => console.log(message));

                // fill in gg excel
                var dataUrl =
                  'https://script.google.com/macros/s/AKfycbxccF9tfPvWJScddI8BOquUK47nuX4tQOHkBqZOJcim8ZM2PqIkwKzDmLgZUBdZch_W/exec';

                $.ajax({
                  type: 'POST',
                  url: dataUrl,
                  dataType: 'json',
                  crossDomain: true,
                  data: data,
                  success: function (response) {
                    window.location = 'thanks.html';
                  },
                });
              });
            }
          },
        },
        computed: {
          totalPrice: function () {
            let total = 0;
            if (this.machine.checked)
              total += this.machine.quantity * this.machine.price;
            if (this.combo.checked)
              total += this.combo.quantity * this.comboPrice;
            return total;
          },
          comboPrice: function () {
            return this.machine.checked ? 99000 : 119000;
          },
        },
      });
    </script>

    <!-- Page library -->
    <script src="js/shopping.js"></script>
  </body>
</html>
